body {
  background-color: #F9CDAD;
  font-family: 'Tauri', sans-serif;
}

div.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  background-color: #FE4365;
  width: 100%;
  border-top-style: solid;
  border-top-width: 40px;
  border-top-color: #FC9D9A;
}

div.footer p{
  margin-right: 10px;
  margin-top: 10px;
  text-align: right;
}

div.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: #83AF9B;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 40px;
  border-bottom-color: #C8C8A9;
}

div.header p{
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

div.main {
  display: table;
  height: 100%;
  width:100%;
}

div.container{
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

div.main h1{
  font-size: 80px;
  font-weight: bold;
}